<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="icon" type="image/x-icon" href="/images/avatar.jpg" />
    <script defer src="/js/copyrightScript.js"></script>
    <script defer src="/js/script.js"></script>
    <script
      defer
      src="https://kit.fontawesome.com/52dd503cc5.js"
      crossorigin="anonymous"
    ></script>
    <title>Vineet-Singh</title>
  </head>
  <body>
    <header id="header" class="container">
      <div class="header-logo"><a href="/">PORTFOLIO</a></div>
      <div
        class="navbar__ham"
        id="navbarToggle"
        data-control="#navbarList"
        data-state="false"
      >
        <span class="1"></span>
        <span class="2"></span>
        <span class="3"></span>
      </div>
      <nav class="header-navbar">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="/" class="nav-link"
              ><i class="fa-solid fa-house"></i> Home</a
            >
          </li>
          <li class="nav-item">
            <a href="/about" class="nav-link"
              ><i class="fa-solid fa-chalkboard-user"></i> About</a
            >
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link"
              ><i class="fa-solid fa-envelope"></i> Contact</a
            >
          </li>
          <li class="nav-item">
            <a href="/services" class="btn active"
              ><i class="fa-solid fa-bell-concierge"></i> Serivces</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main id="main" class="container"><%- body %></main>
    <footer id="footer" class="container">
      <div id="copyright" align="center">
        &copy; 2023 - 2023 <span class="semi-bold">Vineet singh Portfolio</span>
      </div>
    </footer>
  </body>
</html>
