<div class="about-container">
  <div class="about-text-wrapper">
    <h2><i class="fa-solid fa-chalkboard-user"></i> About <span>Me</span></h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum autem,
      quasi molestiae modi, expedita, accusamus numquam magnam ipsum eos eveniet
      eum neque illum nemo aliquid animi eius odio debitis non iste hic.
    </p>
  </div>
  <div class="about-image-wrapper">
    <img src="/images/avatar.jpg" id="avatar" alt="..." />
  </div>
</div>
