<div class="about-container">
  <div class="about-text-wrapper">
    <h2><i class="fa-solid fa-chalkboard-user"></i> About <span>Me</span></h2>
    <p>
      As a <span class="bold">skilled web developer</span>, I am continuously
      expanding my knowledge and expertise in areas such as DSA, Java, React JS,
      Next JS, and more, with the aim of mastering them soon. Although I am
      passionate about dogs, I do not have one at home, but I do have a special
      affection for street dogs. Pursuing my degree at university, I am actively
      practicing and enhancing my skills as a side hustle. If you are interested
      in my profile, please feel free to contact me.
      <span class="semi-bold"
        >I am confident that I possess the qualifications and capabilities you
        seek.</span
      >
    </p>
  </div>
  <div class="about-image-wrapper">
    <img src="/images/avatar.jpg" id="avatar" alt="..." />
  </div>
</div>
