<div class="about-container">
  <div class="about-text-wrapper">
    <h2><i class="fa-solid fa-chalkboard-user"></i> About <span>Me</span></h2>
    <p>
     Embark on an engaging journey through my <span class="bold">portfolio</span>, where innovation meets proficiency. Captivate your interest with dynamic web solutions, Linux mastery, and strategic technology integration. Explore a blend of creativity and expertise that promises a compelling experience in the ever-evolving landscape of technology and development. 
    </p>
  </div>
  <div class="about-image-wrapper">
    <img src="/images/avatar.jpg" id="avatar" alt="..." />
  </div>
</div>
