<div class="contact-container">
  <div class="contact-text-wrapper ta-center">
    <h2><i class="fa-solid fa-envelope"></i> Contact <span>Me</span></h2>
  </div>
  <div class="contact-form-wrapper">
    <form action="/contactMe" method="post" class="contact-form">
      <input type="text" required placeholder="Enter Your Name" name="name" />
      <input type="text" required placeholder="Enter Your Email" name="email" />
      <button class="btn active">Send</button>
    </form>
  </div>
</div>
