<div class="hero-container">
  <div class="hero-text-wrapper">
    <i class="fa-solid fa-hands-praying fa-beat fa-2xl"></i>
    <h1>Welcome To My Port<span>Folio</span></h1>
    <div class="hero-text-subtitle subtitle ta-center">
      I am
      <span class="text-semi-bold">
        <i class="fa-regular fa-greater-than fa-lesser-than"></i> Vineet Singh
        <i class="fa-regular fa-greater-than"></i
      ></span>
    </div>
    <p class="ta-center">"Web Developer and Web Designer"</p>
    <a href="/about" class="btn"
      ><i class="fa-solid fa-circle-info"></i> Know More!
    </a>
  </div>
</div>
