<div class="service-container">
  <div class="service-text-title ta-center">
    <h2><i class="fa-solid fa-bell-concierge"> </i> <span>services</span></h2>
  </div>
  <div class="card-wrapper">
    <div class="card">
      <img src="/images/videoEditing.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">
          <i class="fa-sharp fa-solid fa-wand-magic-sparkles"></i> Video Editing
        </h5>
        <p class="card-text">
          "My video editing services can help bring your vision to life, from
          basic cuts to more complex edits, color grading, and special effects."
        </p>
        <a href="/contact" class="btn btn-primary">Contact Now</a>
      </div>
    </div>
    <div class="card">
      <img src="/images/webdesign.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">
          <i class="fa-solid fa-object-group"></i> Web Design
        </h5>
        <p class="card-text">
          "I specialize in creating custom website designs that are tailored to
          your brand and engage your target audience"
        </p>
        <a href="/contact" class="btn btn-primary">Contact Now</a>
      </div>
    </div>
    <div class="card">
      <img src="/images/html.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">
          <i class="fa-solid fa-cube"></i> Website Development
        </h5>
        <p class="card-text">
          "I building responsive and interactive websites using the latest
          front-end development technologies."
        </p>
        <a href="/contact" class="btn btn-primary">Contact Now</a>
      </div>
    </div>
  </div>
</div>
